.navbar {
    z-index: 99999;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.navbar ul {
    padding: 0px 0px;
    }

.navbar li {
    display: inline-block;
    padding: 0px 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.banner {
    background-color: grey;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 50px 0;
    padding-bottom: 70px;
    width: 100%;
}


#gin {
    width: 200px;
    filter: drop-shadow(2px 2px 2px black);
}

.toksec {
    padding: 20px 50px;
    text-align: center;
}

#toki {
    color: darkblue;
    font-size: 60px;
}

.bold {
    font-weight: 700;
}

a.aqua {
    color: aqua;
}

#greets ul {
list-style-type: none;
display: inline-block;
text-align: left;
padding: 0px 0px;
}

#greets ul li {
    padding: 5px 0px;
    }

.avatar {
    background-image: url('../images/gin.png');
    background-size: cover;
    height: 50px;
    width: 48.18px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#greets li span {
    padding: 10px;
}
